include dash_leaflet/dash_leaflet.min.js
include dash_leaflet/dash_leaflet.dev.js
include dash_leaflet/metadata.json
include dash_leaflet/package.json
include dash_leaflet/assets/leaflet.css
include dash_leaflet/assets/*

include README.md
